#app, .container{
  height: 100%;
  .curmbs{
    position: absolute;
    width: 87.5%;
    top: 53px;
    background: #fff;
    left: 12.4%;
    height: 40px;
    line-height: 40px;
    z-index: 9;
  }
}
.main-content{
  height: calc(100% - 60px);
  .el-menu{
    height: 100%;
  }
}
.right-content{
  padding: 20px;
  background: #fff;
  height: 100%;
}
